<section class="main">
    <nav class="navbar">
        <aside class="nav-left">E-COM SHOP</aside>
        <aside class="nav-right">
            <button mat-stroked-button color="primary" class="button" [routerLink]="['']">Log-in</button>


        </aside>
    </nav>
    <section class="content-container">
        <aside class="content">

            <aside class="sub-contents">
                <p class="first">E-com Web</p>
                <aside class="line-ht">
                    <p class="second">shopping with sequre</p>
                    <p class="third">we provide you more fecilities</p>
                </aside>
            </aside>
            <aside class="footer-button">
                <button mat-raised-button class="f-button" [routerLink]="['/product-detail']">Start</button>
                <button mat-raised-button color="warn" class="f-button" id="f-button" [routerLink]="['']">Leave</button>
            </aside>
        </aside>
    </section>
</section>