@import "../../../assets/scss/base/variables";
.main {
  height: 100vh;
  position: relative;
  .header {
    background-color: #f4f6f5f3;
    height: calc(100vh - 7rem);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    .header-sec {
      border-radius: 0.3rem;
      overflow: hidden;
      width:  88rem;
      height: 38rem;
      background-color: white;
      display: flex;
      justify-content: space-between;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      @media only #{$desktop-max-lg-1023} {
        flex-direction: column;
        height: calc(100vh - 7rem);
        overflow-y: scroll;
      }
      .left-part {
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
          rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        // border: 1px solid r;
        width: 56rem;
        height: 100%;
        // background-color: rgb(130, 121, 108);
        @media only #{$desktop-max-lg-1023} {
          width: 100%;
          // overflow-y: scroll;
        }
        ::ng-deep {
          .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs
            > .mat-mdc-tab-header
            .mat-mdc-tab {
            height: 4rem;
            font-size: 1.4rem;
          }
        }
        .cart-box {
          width: 100%;
          height: 33.4rem;
            // background-color: rgba(127, 255, 212, 0.749);
          position: relative;
          .card-header {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: calc(100% - 5rem);
            // background-color: rgba(234, 230, 230, 0.549);

            .head {
              display: flex;
              justify-content: space-between;
              background-color: rgba(234, 230, 230, 0.549);
              box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
                rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
              //   align-items: center;
              width: 100%;
              padding: 1rem;
              // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
              height: 4rem;
            }
            .cart-body {
              width: 100%;
              height: calc(100% - 4rem);
              overflow-y: scroll;
overflow-x: hidden;
// @media only #{$desktop-max-mob}{
//   height: auto;
// }
                // background-color: forestgreen;
              .cart-card {
                height: 18rem;
                width: 100%;
                // background-color: rgba(218, 181, 181, 0.893);
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                // border: 5px solid yellow;
                @media only #{$desktop-max-mob}{
                     height: auto;
                   }
                .cart-cardsec {
                  width: 45rem;
                  height: 100%;
                  // background-color: red;
                  display: flex;
                  gap: 1.5rem;
                  
                  .image {
                    width: 35%;
                    height: 100%;
                    // background-color: white;
                    padding:1rem .5rem;
                    @media only #{$desktop-max-mob}{
                      width: 7rem;
                      height: 7rem;
                    }
                  }
                  .content {
                    padding: 2rem 0;
                    width: 65%;
                    height: 100%;
                    // background-color: rgba(0, 0, 0, 0.504);
                    position: relative;
                    .top {
                      line-height: 2rem;
                      @media only #{$desktop-max-mob}{
                        display: none;
                      }
                    }
                    .bottom {
                      position: absolute;
                      bottom: 1rem;
                      font-size: 1.5rem;
                      @media only #{$desktop-max-mob}{
                        top:2rem;
                        font-size: 1rem;
                      }
                    }
                  }
                }
              }
            }
            // padding: ;
          }

          .cart-footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 5rem;
            // background-color: rgba(137, 43, 226, 0.636);
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 1.5rem;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
              rgba(0, 0, 0, 0.23) 0px 3px 6px;
            // position: fixed;
          }
        }
      }
      .right-part {
        width: 27rem;
        height: 65%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        @media only #{$desktop-max-lg-1023} {
          width: 100%;
          // overflow-y: scroll;
        }
      }
    }
  }
  .foot {
    height: 7rem;
    // border-top: 1px solid rgba(0, 0, 0, 0.559);
    .footer {
      height: 7rem;
      border-top: 1px solid rgba(121, 119, 119, 0.559);
      background-color: #f4f6f5f3;
      position: fixed;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .footer-content {
        display: flex;
        justify-content: space-between;
        width: 80%;
        a {
          text-decoration: none;
        }
      }
    }
  }
}
