<section class="main">
    <section class="header">
        <aside class="header-sec">
            <section class="left-part">
                <mat-tab-group animationDuration="0ms">
                    <mat-tab label="Shopping cart product">
                        <aside area-label="" class="cart-box">
                            <div class="card-header">
                                <aside class="head">
                                    <aside class="left" style="font-size: 1.3rem;">From Saved Address</aside>
                                    <button mat-stroked-button color="warn" style="background-color: white;">Enter
                                        Delivary </button>
                                </aside>
                                <aside class="cart-body">
                                    <aside class="cart-card">
                                        <aside class="cart-cardsec">
                                            <aside class="image">
                                                <img src="" alt="">
                                            </aside>
                                            <aside class="content">
                                                <aside class="top"></aside>
                                                <aside class="bottom">
                                                    <button mat-button>SAVE FOR LATE</button>
                                                    <button mat-button>REMOVE</button>
                                                </aside>
                                            </aside>
                                        </aside>

                                    </aside>
                                </aside>


                            </div>
                            <div class="cart-footer">
                                <button mat-raised-button color="warn">Placed Order</button>
                            </div>
                        </aside>
                    </mat-tab>
                    <mat-tab label="Grocery">Content 2</mat-tab>
                </mat-tab-group>


            </section>
            <section class="right-part">
                <mat-list>
                    <mat-list-item>
                        <h3 style="color:rgba(128, 128, 128, 0.899)">PRICE DETAILS</h3>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <aside style="height: 12rem;display: flex;gap: 2rem;flex-direction: column;padding: 1.3rem 2rem;">
                        <aside style="display: flex;justify-content: space-between;">
                            <span>Price(1 item)</span><span>price</span>
                        </aside>
                        <aside style="display: flex;justify-content: space-between;">
                            <span>Discound</span><span>price</span>
                        </aside>
                        <aside style="display: flex;justify-content: space-between;">
                            <span>Delivery Charges</span><span>price</span>
                        </aside>

                    </aside>
                    <mat-divider></mat-divider>
                    <aside style="display: flex;justify-content: space-between;padding: 1rem;font-size: 1.7rem;">
                        <span>Total Amount</span><span>price</span>
                    </aside>
                    <mat-divider></mat-divider>
                    <mat-list-item>You will save ₹18,500 on this order</mat-list-item>
                </mat-list>
                <p>Safe and Secure Payments.Easy returns.100% Authentic products.</p>
            </section>

        </aside>

    </section>
    <section class="foot">
        <section class="footer">
            <aside class="footer-content">
                <aside>Policies:Returns Policy | Terms of use | Security | Privacy | Infringement</aside>
                <aside>Need help? Visit the <a href="#">Help Center</a> or <a href="#">Contact Us</a></aside>
            </aside>
        </section>
    </section>
</section>