<section class="main">
    <section class="img-sec">
        <aside class="image">
            <img src={{description.image}} alt="">
            <!-- <p>{{description.image}}</p> -->
        </aside>

        <span class="downside-image">{{description.base}}
            <div class="rating">
                <input type="radio" id="star5" name="rate" value="5">
                <label for="star5" title="text"></label>
                <input type="radio" id="star4" name="rate" value="4">
                <label for="star4" title="text"></label>
                <input checked="" type="radio" id="star3" name="rate" value="3">
                <label for="star3" title="text"></label>
                <input type="radio" id="star2" name="rate" value="2">
                <label for="star2" title="text"></label>
                <input type="radio" id="star1" name="rate" value="1">
                <label for="star1" title="text"></label>
            </div>
        </span>
        <!--  -->

        <!--  -->


        <aside class="button-sec">
            <button (click)="Cart()"><i class="fa-solid fa-cart-shopping fa-bounce" style="margin-right: .3rem;"></i>
                ADD TO
                CART</button>
            <button style="background-color: rgba(255, 162, 0, 0.964)" (click)="Order()"><span
                    class="material-icons-outlined">
                    flash_on
                </span>BUY NOW</button>
        </aside>
    </section>
    <section class="description-sec">
        <nav class="nav-bar">
            <div class="nav-share" style="font-size: 1.2rem;">Share <i class="fa-solid fa-share"></i></div>
        </nav><br>
        <p style="font-size: 1.7rem;font-weight: 500;">{{description.title |uppercase}}</p>
        <p style="color:green;font-size: 1.3rem;font-weight: 500;">special price</p>
        <p style="font-size: 1.8rem;font-weight: 800;"><span class="material-icons-outlined">
                currency_rupee
            </span> {{description.price}}<del
                style="margin-left: 1rem;font-size: 1.4rem;font-weight: 600;color: rgba(128, 128, 128, 0.838);">
                {{price}}
            </del></p>
        <aside class="contents">
            <p>{{description.ideal}}</p>
            <p>{{description.category}}</p>
            <p style="line-height: 1.6rem;">{{description.description}}</p>

        </aside>
        <aside class="offer-sec">
            <li>
                <i class="fa-sharp fa-solid fa-circle-check"></i><strong style="width: 7rem;">Special price</strong>get
                extra 12%
                off(price inclusive of cashback)
            </li>
            <li>
                <i class="fa-sharp fa-solid fa-circle-check"></i> <strong style="width: 7rem;">Bank Offer</strong>10% on
                instant discount on
                HDFC
                bank credit card EMI taxins up to rs
                1000
            </li>
            <li>
                <i class=" fa-sharp fa-solid fa-circle-check"></i> <strong style="width: 7rem;">Bank Offer</strong>15%
                on instant discount on
                HDFC
                bank credit card EMI taxins up to rs
                6000
            </li>
            <li>
                <i class=" fa-sharp fa-solid fa-circle-check"></i> <strong style="width: 7rem;">Bank Offer</strong>extra
                400 discount on HDFC
                bank
                credit card EMI with credit value rs
                25000
            </li>
            <li><a href=" #" style="text-decoration: none;">More Details</a>
            </li>

        </aside>
        <span class="numberOfItems">
            <button (click)="decrement()"><i class="fa-solid fa-minus"></i></button>
            <input type="number" [(ngModel)]="counter"><button (click)="increment()"><i
                    class="fa-solid fa-plus"></i></button>
        </span>
        <aside [ngSwitch]="description.type">
            <aside class="size-section1" *ngSwitchCase="'dress'">
                <aside class="size-section">
                    <div>SIZE:</div>
                    <div class="container">
                        <div class="radio-tile-group">
                            <div class="input-container">
                                <input id="walk" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="XS">
                                <div class="radio-tile">

                                    <label for="walk" class="radio-tile-label">XS</label>
                                </div>
                            </div>

                            <div class="input-container">
                                <input id="bike" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="S">
                                <div class="radio-tile">

                                    <label for="bike" class="radio-tile-label">S</label>
                                </div>
                            </div>

                            <div class="input-container">
                                <input id="drive" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="M">
                                <div class="radio-tile">

                                    <label for="drive" class="radio-tile-label">M</label>
                                </div>
                            </div>
                            <div class="input-container">
                                <input id="drive" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="X">
                                <div class="radio-tile">

                                    <label for="drive" class="radio-tile-label">X</label>
                                </div>
                            </div>
                            <div class="input-container">
                                <input id="drive" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="L">
                                <div class="radio-tile">

                                    <label for="drive" class="radio-tile-label">L</label>
                                </div>
                            </div>
                            <div class="input-container">
                                <input id="drive" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="XL">
                                <div class="radio-tile">

                                    <label for="drive" class="radio-tile-label">XL</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </aside>
                <aside> <mat-progress-bar mode="indeterminate"></mat-progress-bar></aside>
            </aside>
            <aside class="size-section1" *ngSwitchCase="'boot'">
                <aside class="size-section">
                    <div>SIZE:</div>
                    <div class="container">
                        <div class="radio-tile-group">
                            <div class="input-container">
                                <input id="walk" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="6">
                                <div class="radio-tile" style="border-radius: 50%;">

                                    <label for="walk" class="radio-tile-label">6</label>
                                </div>
                            </div>

                            <div class="input-container">
                                <input id="bike" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="7">
                                <div class="radio-tile" style="border-radius: 50%;">

                                    <label for="bike" class="radio-tile-label">7</label>
                                </div>
                            </div>

                            <div class="input-container">
                                <input id="drive" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="8">
                                <div class="radio-tile" style="border-radius: 50%;">

                                    <label for="drive" class="radio-tile-label">8</label>
                                </div>
                            </div>
                            <div class="input-container">
                                <input id="drive" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="9">
                                <div class="radio-tile" style="border-radius: 50%;">

                                    <label for="drive" class="radio-tile-label">9</label>
                                </div>
                            </div>
                            <div class="input-container">
                                <input id="drive" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="10">
                                <div class="radio-tile" style="border-radius: 50%;">

                                    <label for="drive" class="radio-tile-label">10</label>
                                </div>
                            </div>
                            <div class="input-container">
                                <input id="drive" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="11">
                                <div class="radio-tile" style="border-radius: 50%;">

                                    <label for="drive" class="radio-tile-label">11</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </aside>
                <aside> <mat-progress-bar mode="indeterminate"></mat-progress-bar></aside>
            </aside>
            <aside class="size-section1" *ngSwitchCase="'mobile'">
                <aside class="size-section" style="border: none;">
                    <div class="bg-size">RAM:</div>
                    <div class="container">
                        <div class="radio-tile-group" style="gap: 1rem;">
                            <div class="input-container">
                                <input id="walk" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="16GB">
                                <div class="radio-tile" style="padding: 1.4rem;margin-top: -.4rem;">

                                    <label for="walk" class="radio-tile-label">16GB</label>
                                </div>
                            </div>

                            <div class="input-container">
                                <input id="bike" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="32GB">
                                <div class="radio-tile" style="padding: 1.4rem;margin-top: -.4rem;">

                                    <label for="bike" class="radio-tile-label">32GB</label>
                                </div>
                            </div>

                            <div class="input-container">
                                <input id="drive" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="64GB">
                                <div class="radio-tile" style="padding: 1.4rem;margin-top: -.4rem;">

                                    <label for="drive" class="radio-tile-label">64GB</label>
                                </div>
                            </div>

                            <div class="input-container">
                                <input id="drive" class="radio-button" type="radio" [(ngModel)]="selectedOption"
                                    name="radio" value="124GB">
                                <div class="radio-tile" style="padding: 1.4rem;margin-top: -.4rem;" >

                                    <label for="drive" class="radio-tile-label">124GB</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <aside> <mat-progress-bar mode="indeterminate"></mat-progress-bar></aside>
            </aside>
            <aside class="size-section1" *ngSwitchCase="'lap'">
                <aside class="size-section" style="border: none;">
                    <div class="bg-size">RAM:</div>
                    <div class="container">
                        <div class="radio-tile-group" style="gap: 1rem;">
                            <div class="input-container">
                                <input id="walk" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="256GB">
                                <div class="radio-tile" style="padding: 1.4rem;margin-top: -.4rem;">

                                    <label for="walk" class="radio-tile-label">256GB</label>
                                </div>
                            </div>

                            <div class="input-container">
                                <input id="bike" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="512GB">
                                <div class="radio-tile" style="padding: 1.4rem;margin-top: -.4rem;">

                                    <label for="bike" class="radio-tile-label">512GB</label>
                                </div>
                            </div>

                            <div class="input-container">
                                <input id="drive" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="1TB">
                                <div class="radio-tile" style="padding: 1.4rem;margin-top: -.4rem;">

                                    <label for="drive" class="radio-tile-label">1TB</label>
                                </div>
                            </div>


                        </div>
                    </div>
                </aside>
                <aside> <mat-progress-bar mode="indeterminate"></mat-progress-bar></aside>
            </aside>
            <aside class="size-section1" *ngSwitchCase="'health'">
                <aside class="size-section" style="border: none;">
                    <div class="bg-size">WEIGHT:</div>
                    <div class="container">
                        <div class="radio-tile-group" style="gap: 1rem;">
                            <div class="input-container">
                                <input id="walk" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value=".5KG">
                                <div class="radio-tile" style="padding: 1.4rem;margin-top: -.4rem;">

                                    <label for="walk" class="radio-tile-label">.5KG</label>
                                </div>
                            </div>

                            <div class="input-container">
                                <input id="bike" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="1KG">
                                <div class="radio-tile" style="padding: 1.4rem;margin-top: -.4rem;">

                                    <label for="bike" class="radio-tile-label">1KG</label>
                                </div>
                            </div>

                            <div class="input-container">
                                <input id="drive" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="1.5KG">
                                <div class="radio-tile" style="padding: 1.4rem;margin-top: -.4rem;">

                                    <label for="drive" class="radio-tile-label">1.5KG</label>
                                </div>
                            </div>
                            <div class="input-container">
                                <input id="drive" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="2KG">
                                <div class="radio-tile" style="padding: 1.4rem;margin-top: -.4rem;">

                                    <label for="drive" class="radio-tile-label">2KG</label>
                                </div>
                            </div>
                            <div class="input-container">
                                <input id="drive" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="4KG">
                                <div class="radio-tile" style="padding: 1.4rem;margin-top: -.4rem;">

                                    <label for="drive" class="radio-tile-label">4KG</label>
                                </div>
                            </div>


                        </div>
                    </div>
                </aside>
                <aside> <mat-progress-bar mode="indeterminate"></mat-progress-bar></aside>
            </aside>
            <aside class="size-section1" *ngSwitchCase="'grosery'">
                <aside class="size-section" style="border: none;">
                    <div class="bg-size">WEIGHT:</div>
                    <div class="container">
                        <div class="radio-tile-group" style="gap: 1rem;">
                            <div class="input-container">
                                <input id="walk" class="radio-button" type="radio" [(ngModel)]="selectedOption"
                                    name="radio" value="250GM">
                                <div class="radio-tile" style="padding: 1.4rem;margin-top: -.4rem;" >

                                    <label for="walk" class="radio-tile-label">250GM</label>
                                </div>
                            </div>
                            <div class="input-container">
                                <input id="walk" class="radio-button" type="radio" [(ngModel)]="selectedOption"
                                    name="radio" value="500GM">
                                <div class="radio-tile" style="padding: 1.4rem;margin-top: -.4rem;">

                                    <label for="walk" class="radio-tile-label">500GM</label>
                                </div>
                            </div>

                            <div class="input-container">
                                <input id="bike" class="radio-button" type="radio" [(ngModel)]="selectedOption"
                                    name="radio" value="1KG">
                                <div class="radio-tile" style="padding: 1.4rem;margin-top: -.4rem;">

                                    <label for="bike" class="radio-tile-label">1KG</label>
                                </div>
                            </div>

                            <div class="input-container">
                                <input id="drive" class="radio-button" type="radio" [(ngModel)]="selectedOption"
                                    name="radio" value="1.5KG">
                                <div class="radio-tile" style="padding: 1.4rem;margin-top: -.4rem;" >

                                    <label for="drive" class="radio-tile-label">1.5KG</label>
                                </div>
                            </div>
                            <div class="input-container">
                                <input id="drive" class="radio-button" type="radio" name="radio"
                                    [(ngModel)]="selectedOption" value="2KG">
                                <div class="radio-tile" style="padding: 1.4rem;margin-top: -.4rem;">

                                    <label for="drive" class="radio-tile-label">2KG</label>
                                </div>
                            </div>


                        </div>
                    </div>
                </aside>
                <aside> <mat-progress-bar mode="indeterminate"></mat-progress-bar></aside>
            </aside>

        </aside>
    </section>
</section>

<!-- <button type="button" class="btn btn-primary">Primary</button> -->