.main {
  display: flex;
  .img-sec {
    width: 40%;
    // background-color: rgba(255, 0, 0, 0.232);
    height: 100vh;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    img {
      width: 100%;
      height: 29rem;
    }
    .rating:not(:checked) > input {
      position: absolute;
      appearance: none;
    }
    
    .rating:not(:checked) > label {
      float: right;
      cursor: pointer;
      font-size: 50px;
      color: #666;
    }
    
    .rating:not(:checked) > label:before {
      content: '★';
    }
    
    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
      color: #118a1b;
    }
    
    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
      color: #ff9e0b;
    }
    
    .rating > input:checked ~ label {
      color: #ffa723;
    }
    
    
    .button-sec {
      display: flex;
      gap: 1rem;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(30, 143, 255, 0.973);
        font-size: 1.1rem;
        font-weight: 500;
        padding: 1rem;
        border: none;
        border-radius: 0.2rem;
        color: white;
        width: 16rem;
        // opacity: 0.9;
      }
      button:hover {
        opacity: 0.8;
      }
    }
  }
  .description-sec {
    width: 60%;
    // background-color: rgba(0, 255, 255, 0.166);
    height: 100vh;
    padding: 3rem;
    line-height: 2rem;
    font-family: Poppins, sans-serif;
    overflow-y: scroll;
    // font-size: 1.7rem;
    // font-weight: 400;
    .nav-bar {
      padding: 0.8rem;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      display: flex;
      justify-content: flex-end;
      .nav-share {
        display: flex;
        align-items: center;
        gap: 0.4rem;
      }
    }
    .contents {
      margin-top: 2rem;
      line-height: 1.3rem;
      font-size: 1.2rem;
      font-weight: 400;
    }
    .offer-sec {
      text-decoration: none;
      list-style: none;
      i {
        padding: 1rem;
      }
    }
    .numberOfItems {
      border: 1px solid rgb(138, 132, 132);
      // width: 8rem;
      padding: .4rem 0;
      border-radius: .3rem;
      overflow: hidden;
      button {
        border: none;
        background-color: #079ad9;
        padding: 0.1rem 0.7rem;
        color: white;
        
      }
      button:hover {
        background-color: black;
      }
      input {
        width: 4rem;
        text-align: center;
        border: none;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    .size-section1 {
      width: 60%;
      height: auto;
      border: 1px solid rgb(184, 178, 178);
      border-radius: 0.3rem;
      .size-section {
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 500;
        // background-color: rgba(255, 0, 0, 0.744);
        .container {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .radio-tile-group {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }

        .radio-tile-group .input-container {
          position: relative;
          height: 30px;
          width: 30px;
          margin: 0.5rem;
        }

        .radio-tile-group .input-container .radio-button {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          margin: 0;
          cursor: pointer;
        }

        .radio-tile-group .input-container .radio-tile {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          border: 2px solid #0f0f0f;
          background-color: #0f0f0f;
          border-radius: 5px;
          padding: 1rem;
          transition: transform 300ms ease;
        }

        .radio-tile-group .input-container .icon svg {
          fill: #079ad9;
          width: 2rem;
          height: 2rem;
        }

        .radio-tile-group .input-container .radio-tile-label {
          text-align: center;
          font-size: 0.75rem;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: #eef1f3;
        }

        .radio-tile-group .input-container .radio-button:checked + .radio-tile {
          background-color: #079ad9;
          border: 2px solid #079ad9;
          color: white;
          transform: scale(1.1, 1.1);
        }

        .radio-tile-group
          .input-container
          .radio-button:checked
          + .radio-tile
          .icon
          svg {
          fill: white;
          background-color: #079ad9;
        }

        .radio-tile-group
          .input-container
          .radio-button:checked
          + .radio-tile
          .radio-tile-label {
          color: white;
          background-color: #079ad9;
        }
      }
    }
  }
  ::-webkit-scrollbar {
    width: 7px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(248, 246, 246);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(213, 211, 210, 0.562);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e87373;
  }
}
