// .main-sec{
//     width: 100%;
//     display: flex;
//     // flex-direction: column;
//     .left-main-sec{
//         width: 50%;
//         background-color: red;
//     }
//     .right-main-sec{
//         width: 50%;
//     }
// }
section {
  // background: linear-gradient(135deg, #061c7ec7, #4f0d91d7);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  // padding: 5rem 7rem;
  .main-sec {
    display: flex;
    width: 100%;
    height: 100%;
    // background-color: red;
    // box-shadow: rgba(67, 70, 71, 0.3) 0px 1px 2px 0px, rgba(70, 73, 75, 0.15) 0px 2px 6px 2px;
    .left-main-sec {
      width: 50%;
      height: 100%;
      // background-color: white;
      background: linear-gradient(135deg, #061c7ee7, #5a288bea);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      // padding: 4.5rem 0 4.5rem 8rem;
      .left-sec-container {
        position: relative;
        width: 78%;
        height: 73%;
        display: flex;
        flex-direction: column;
        // align-items: flex-end;
        justify-content: flex-end;
        background: linear-gradient(135deg, #263266, #552883);
        // height: 100%;
        font-family: "Poppins", sans-serif;
        box-shadow: rgba(67, 70, 71, 0.3) 0px 1px 2px 0px,
          rgba(70, 73, 75, 0.15) 0px 2px 6px 2px;
        .text-condent {
          font-size: 3rem;
          font-weight: 700;
          color: white;
          // font-family: 'Poppins', sans-serif;
          font-style: italic;
          font-size: 700;
          padding-left: 4rem;
          // padding-bottom: 3rem;
        }
        .shop-text {
          position: absolute;
          top: 2rem;
          left: 2rem;
          color: wheat;
          // font-family: 'Poppins', sans-serif;
        }
        .shop-text-lastcontent {
          color: white;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          padding-bottom: 1rem;
          font-weight: 400;
          // font-family: 'Poppins', sans-serif;
        }
        .float {
          // margin-left: 5rem;
          // padding-left: 2rem;
          animation-name: ani-float;
          animation-duration: 3s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
        }

        @keyframes ani-float {
          0% {
            transform: translate(0, 0px);
          }
          50% {
            transform: translate(0, 20px);
          }
          100% {
            transform: translate(0, -0px);
          }
        }
      }
    }
    .right-main-sec {
      width: 50%;
      height: 100%;
      background-color: white;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // padding: 4.5rem 8rem 4.5rem 0;
      .right-sec-container {
        // background: linear-gradient(135deg, #263266, #552883);

        width: 78%;
        height: 73%;
        background-color: white;
        box-shadow: rgba(67, 70, 71, 0.3) 0px 1px 2px 0px,
          rgba(70, 73, 75, 0.15) 0px 2px 6px 2px;
        .login-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          // background-color: #764ba2;
          height: 65vh;

          .login {
            width: 19rem;
            height: 22rem;
            border-radius: 0.3rem;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
              rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
            .form-login {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              gap: 0.6rem;
              ::ng-deep {
                .mat-mdc-form-field-infix {
                  min-width: 15rem;
                  min-height: 50px;
                  // border: 1px solid black;
                }
                .mdc-text-field--filled:not(.mdc-text-field--disabled) {
                  background-color: white;
                  border: 1px solid rgb(161, 158, 158);
                }
                .mdc-text-field--invalid:not(.mdc-text-field--disabled)
                  .mdc-line-ripple {
                  border-bottom: none;
                  background-color: none;
                }
                .mdc-line-ripple::before {
                  border-bottom: none;
                }
                .mat-mdc-form-field-error {
                  font-size: 0.7rem;
                }
              }
            }
          }
          .login-button {
            width: 100%;
            margin-top: 1rem;
            font-size: 1rem;
            padding: 1.3rem;
          }
          .forgot-link {
            text-decoration: none;

            font-size: 0.7rem;
          }
        }
      }
    }
  }

  // .login-container {
  //     width: 100%;
  //     // background-color: #764ba2;
  //     height:65vh;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     .login{
  //         width: 20rem;
  //         height: 20rem;
  //         background-color: #764ba2;
  //     }
  //   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  //   input[type="text"],
  //   input[type="password"] {
  //     width: 100%;
  //     padding: 10px;
  //     margin-top: 10px;
  //     border: none;
  //     border-radius: 5px;
  //   }

  //   button {
  //     background-color: #764ba2;
  //     color: #ffffff;
  //     padding: 10px 20px;
  //     border: none;
  //     border-radius: 5px;
  //     margin-top: 20px;
  //     cursor: pointer;

  //     &:hover {
  //       background-color: #5d3997;
  //     }
  //   }
  // }
}
