@import "../../../assets/scss/base/mixins";
@import "../../../assets/scss/base/variables";
* {
  box-sizing: border-box;
}
section {
  @include main-flex(center, center);
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  .main-sec {
    @include wth-ht-bg(100%, 100%, none);
    display: flex;
    @media only #{$desktop-max-lg-1000} {
      flex-direction: column;
    }
    .left-main-sec {
      @include main-flex(flex-end, center);
      @include wth-ht-bg(50%, 100%, none);
      // background: linear-gradient(135deg, #061c7ee7, #5a288bea);
      background-image: url("../../../assets/shopping1.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      @media only #{$desktop-max-lg-1000} {
        width: 100%;
        justify-content: center;
      }
      .left-sec-container {
        @include main-flex(flex-end, none);
        @include wth-ht-bg(78%, 73%, none);
        position: relative;
        display: flex;
        flex-direction: column;
        // background: linear-gradient(135deg, #263266, #552883);
        font-family: "Poppins", sans-serif;
        box-shadow: rgba(67, 70, 71, 0.3) 0px 1px 2px 0px,
          rgba(70, 73, 75, 0.15) 0px 2px 6px 2px;
        @media only #{$desktop-max-lg-1278} {
          width: 94%;
        }
        @media only #{$desktop-max-lg} {
          width: 97%;
          height: 80%;
        }
        @media only #{$desktop-max-mob} {
          width: 100%;
        }
        .text-condent {
          font-size: 4rem;
          font-weight: 700;
          color: white;
          font-style: italic;
          font-size: 700;
          padding-left: 4rem;
          @media only #{$desktop-max-mob} {
            font-size: 2.5rem;
          }
        }
        .shop-text {
          position: absolute;
          top: 2rem;
          left: 2rem;
          color: wheat;
          font-size: 1.5rem;
          z-index: 100;
        }
        .shop-text-lastcontent {
          @include main-flex(center, flex-end);
          color: white;
          flex-direction: column;
          padding-bottom: 1rem;
          font-weight: 400;
          font-size: 1.6rem;
        }
        .float {
          animation-name: ani-float;
          animation-duration: 3s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
          @media only #{$desktop-max-mob} {
            width: 18rem;
            height: 14rem;
          }
        }

        @keyframes ani-float {
          0% {
            transform: translate(0, 0px);
          }
          50% {
            transform: translate(0, 50px);
          }
          100% {
            transform: translate(0, -0px);
          }
        }
      }
    }
    .right-main-sec {
      @include main-flex(flex-start, center);
      @include wth-ht-bg(50%, 100%, rgb(199, 213, 222));
      background-image: url("../../../assets/two-happy-girls-sweaters-having-fun-with-shopping-trolley-megaphone-white-wall.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      @media only #{$desktop-max-lg-1000} {
        width: 100%;
        justify-content: center;
      }
      .right-sec-container {
        @include wth-ht-bg(78%, 73%, none);
        box-shadow: rgba(67, 70, 71, 0.3) 0px 1px 2px 0px,
          rgba(70, 73, 75, 0.15) 0px 2px 6px 2px;
        @media only #{$desktop-max-lg-1278} {
          width: 94%;
        }
        @media only #{$desktop-max-lg} {
          width: 97%;
          height: 80%;
        }
        @media only #{$desktop-max-lg-1000} {
          height: 100%;
        }
        @media only #{$desktop-max-mob} {
          width: 100%;
        }
        .login-container {
          @include main-flex(center, center);
          @include wth-ht-bg(100%, 65vh, none);
          .login {
            @include wth-ht-bg(23rem, 27rem, white);
            border-radius: 0.3rem;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
              rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
            border: 1px solid rgba(211, 206, 206, 0.493);
            @media only #{$desktop-max-lg} {
              height: 56vh;
            }
            @media only #{$desktop-max-mob} {
              border: none;
              box-shadow: none;
            }
            .form-login {
              @include main-flex(center, center);
              flex-direction: column;
              gap: 0.6rem;
              ::ng-deep {
                .mat-mdc-form-field-infix {
                  min-width: 15rem;
                  min-height: 50px;
                }
                .mat-mdc-form-field-error {
                  font-size: 0.7rem;
                }
              }
            }
          }
          .login-button {
            width: 100%;
            margin-top: 1rem;
            font-size: 1rem;
            padding: 1.3rem;
          }
          .forgot-link {
            text-decoration: none;

            font-size: 0.7rem;
          }
        }
        .register-container {
          @include main-flex(center, center);
          @include wth-ht-bg(100%, 65vh, none);
          .register {
            @include wth-ht-bg(30rem, 30rem, rgb(255, 255, 255));
            border-radius: 0.3rem;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
              rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
            border: 1px solid rgba(211, 206, 206, 0.493);
            @media only #{$desktop-max-lg} {
              height: 56vh;
            }
            @media only #{$desktop-max-md} {
              width: 35rem;
            }
            @media only #{$desktop-max-mob} {
              border: none;
              box-shadow: none;
            }
            .form-register {
              @include main-flex(center, center);
              width: 100%;
              flex-direction: column;
              @media only #{$desktop-max-mob} {
                margin-top: 20rem;
              }
              ::ng-deep {
                .mat-mdc-form-field-infix {
                  min-width: 8rem;
                  min-height: 50px;
                  @media only #{$desktop-max-mob} {
                    min-width: 14rem;
                  }
                }
                .mat-mdc-form-field-error {
                  font-size: 0.7rem;
                }
              }
              .register-button {
                width: 80%;
                margin-top: 1rem;
                font-size: 1rem;
                padding: 1.3rem;
              }
              .devided-sec {
                display: flex;
                gap: 0.3rem;
                @media only #{$desktop-max-mob} {
                  flex-direction: column;
                }
              }
            }
          }
        }
      }
    }
  }
}
