<section>
  <aside class="main-sec">
    <aside class="left-main-sec">
      <!-- design part of the leftside -->
      <aside aria-label="" class="left-sec-container">
        <p class="shop-text">shopping.</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="500" height="270" viewBox="-25 -25 250 250" class="float">
          <defs>
            <linearGradient id="lgrad" x1="0%" y1="0%" x2="100%" y2="100%">
              <stop offset="0%" style="stop-color:#48a9ae;stop-opacity:1.00" />
              <stop offset="100%" style="stop-color:#64c37c;stop-opacity:1.00" />
            </linearGradient>
          </defs>
          <path
            d="M157.8906160444251 18.46058269771021 C112.60766638910421 5.856266007134609 7.240749323325559 78.63665317336041 3.299445012148766 125.47553071167624 C1.1446467167519265 151.0833816943196 52.57324936750311 188.86185147521445 76.85229368006267 197.2840361628049 C92.56962569441079 202.7362389479261 128.668321257073 198.67352529607675 143.0261982837195 190.2704063425553 C164.04140881418712 177.97100347170752 197.03901807286775 135.0845370509589 199.40960419012617 110.85037302411534 C201.87488887250726 85.64811906222107 182.28576415501718 25.25086855231706 157.8906160444251 18.46058269771021Z"
            stroke="none" fill="url(#lgrad)" />
        </svg>
        <h1 class="text-condent animate__animated animate__bounce animate__backInDown animate__backInDown">Log-In your
          <br> account
        </h1><br>
        <h3 class="shop-text-lastcontent">start your shopping</h3>

      </aside>
    </aside>
    <aside class="right-main-sec">
      <!-- design part - rightside-->
      <aside class="right-sec-container">
        <mat-tab-group animationDuration="2000ms">
          <mat-tab label="Login Account">
            <div class="login-container">
              <section class="login">
                <!-- login-form -->
                <form class="form-login" [formGroup]="loginform">

                  <!-- email -->
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder=" pat@example.com">
                    <mat-error *ngIf="loginform.controls.email.touched && loginform.controls.email.errors ">
                      Email is<strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <!-- password -->
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>password</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="Password">
                    <mat-error
                      *ngIf="loginform.controls.password.touched &&loginform.controls.password.errors && loginform.controls.password.errors['pattern']">
                      at least one
                      uppercase,lowercase,digit,8char.
                    </mat-error>
                  </mat-form-field>
                  <button mat-raised-button color="primary" type="submit" class="login-button"
                    (click)="Login(loginform.value)">Log In</button>
                  <a href="#" class="forgot-link">Forgot your Password?</a>
                </form>
              </section>
            </div>
          </mat-tab>
          <mat-tab label="Create Account">
            <div class="register-container">
              <section class="register">
                <!-- register-form -->
                <form class="form-register" [formGroup]="registerform">
                  <aside aria-label="" class="devided-sec">
                    <!-- username -->
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>User Name</mat-label>
                      <input type="text" matInput formControlName="username" placeholder=" UserName">
                      <mat-error
                        *ngIf="registerform.controls.username.touched && registerform.controls.username.errors ">
                        Username is<strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                    <!-- email -->
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Email</mat-label>
                      <input type="email" matInput formControlName="regemail" placeholder=" pat@example.com">
                      <mat-error
                        *ngIf="registerform.controls.regemail.touched && registerform.controls.regemail.errors">
                        Email is<strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </aside>
                  <aside aria-label="" class="devided-sec">
                    <!-- phone number -->
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Phone Number</mat-label>
                      <input type="number" matInput formControlName="number" placeholder="+91">
                      <mat-error *ngIf="registerform.controls.number.touched && registerform.controls.number.errors ">
                        Number is<strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                    <!-- pin -->
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Pin</mat-label>
                      <input type="number" matInput formControlName="pin" placeholder=" 67361">
                      <mat-error *ngIf="registerform.controls.pin.touched && registerform.controls.pin.errors ">
                        pin is<strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </aside>
                  <aside aria-label="" class="devided-sec">

                    <!-- place -->
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Place</mat-label>
                      <input type="text" matInput formControlName="place" placeholder="Place">
                      <mat-error *ngIf="registerform.controls.place.touched && registerform.controls.place.errors ">
                        place is<strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                    <!-- address -->
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Address</mat-label>
                      <input type="text" matInput formControlName="address" placeholder=" Address">
                      <mat-error *ngIf="registerform.controls.address.touched && registerform.controls.address.errors ">
                        Address is<strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </aside>
                  <aside aria-label="" class="devided-sec">
                    <!-- password -->
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>password</mat-label>
                      <input type="password" matInput formControlName="regpassword" placeholder="Password">
                      <mat-error
                        *ngIf="registerform.controls.regpassword.touched && registerform.controls.regpassword.errors ">
                        uppercase,lowercase,digit,8char.
                      </mat-error>
                    </mat-form-field>
                    <!-- confirm password -->
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Confirm Password</mat-label>
                      <input type="password" matInput formControlName="confirmpassword" placeholder=" confirm Psd">
                      <mat-error
                        *ngIf="registerform.controls.confirmpassword.touched && registerform.controls.confirmpassword.errors ">
                        password is<strong>required</strong>
                      </mat-error>
                    </mat-form-field>

                  </aside>
                  <button mat-raised-button color="primary" type="submit" (click)="Register(registerform.value)"
                    class="register-button">Submit</button>
                </form>
              </section>
            </div>
          </mat-tab>
        </mat-tab-group>

      </aside>
    </aside>
  </aside>

</section>