
<div class="main">
<mat-dialog-content class="mat-typography">
  <h3>User DataAddress</h3>
  <aside class="style1">
  <!-- <div style="width: 100%;display: flex;justify-content: center;"> -->
    <i class="fa-solid fa-user" style="font-size: 5rem;padding: .8rem;color: black;"></i>
    <!-- </div> -->
  <!-- <mat-divider></mat-divider> -->
 <h5><label for="">Username:</label>
{{value.username}}</h5>
<mat-divider></mat-divider>
<h5>
<label for="">Email:</label>
{{value.email}}</h5>
<mat-divider></mat-divider>
<h5>
<label for="">Address:</label>
{{value.address}}</h5>
<mat-divider></mat-divider>
<h5>
<label for="">Number:</label>
{{value.number}}</h5>
<mat-divider></mat-divider>
<h5>
<label for="">Pincode:</label>
{{value.pincode}}</h5>
<mat-divider></mat-divider>
</aside>

  <p>Your Data is Sequre to Our Team</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>close</button>
</mat-dialog-actions>


</div>
