.main{
    font-size: 1.3rem;
    border-radius: .5rem;
    .style1{
        width: 30rem;
        border: 1px solid rgb(184, 182, 182);
        padding: 2rem;
        // color: black;
        border-radius: .3rem;
    }
}