@import "../../../assets/scss/base/variables";
.main {
  width: 100%;
  font-family: "Poppins", sans-serif;
  .container1 {
    width: 100%;
    .first-container {
      width: 100%;
      height: auto;
      // background-color: rgba(102, 51, 153, 0.864);
      .nav {
        width: 100%;
        height: 5rem;
        .nav-bar {
          width: 100%;
          height: 5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          position: fixed;
          z-index: 10;
          background-color: rgb(250, 235, 215);
          .nav-container {
            width: 90%;
            height: 5rem;
            position: fixed;
            //   background-color: rgba(127, 255, 212, 0.7);
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left-content {
              display: flex;
              align-items: center;
              // gap: 8rem;
              .logo {
                font-size: 2rem;
                font-weight: 700;
                @media only #{$desktop-max-mob} {
                  font-size: 1.5rem;
                }
              }
            }
            .center-content {
              @media only #{$desktop-max-mob} {
                display: none;
              }
              .lists {
                display: flex;
                gap: 2rem;
              }
            }
            .right-content {
              @media only #{$desktop-max-mob} {
                display: none;
              }
              ::ng-deep {
                button {
                  background-color: black;
                  color: white;
                }
              }
            }
            .responsive-button {
              display: none;
              @media only #{$desktop-max-mob} {
                display: block;
              }
            }
          }
        }
      }
      .main-contentsec {
        // z-index: 3;
        width: 100%;
        height: 600px;
        .main-contentsection {
          width: 100%;
          height: 600px;
          // background-color: rgba(201, 201, 115, 0.863);
          position: relative;
          position: fixed;
          .example-container {
            height: 100%;
            background-color: rgba(255, 255, 0, 0.792);
            // position: absolute;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            .img-hover {
              margin: auto;
              height: 94%;
              width: 90%;
              background-color: white;
              .content-img {
                margin: auto;
                width: 95%;
                height: 92%;
                background-image: url(../../../assets/boidata13.jpg);
                border-bottom-right-radius: 1rem;
                border-bottom-left-radius: 1rem;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
              }
            }
            .content-text {
              position: absolute;
              width: 25%;
              height: auto;
              background-color: rgba(255, 0, 0, 0.778);
              right: 3rem;
              top: 15rem;
              border-radius: 0.3rem;
              font-size: 4rem;
              font-weight: 1000;
            }
          }

          .example-sidenav-content {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
          }

          .example-sidenav {
            width: 15rem;
            // padding: 20px;
            .center-content {
              .lists {
                display: flex;
                // gap: 2rem;
                flex-direction: column;
                span {
                  padding: 1rem;
                }
              }
            }
          }
        }
      }
      .child-contentsec {
        position: relative;
        height: auto;
        z-index: 1;
        display: flex;
        @media only #{$desktop-max-md} {
          flex-direction: column;
        }
        .content-img {
          width: 50%;
          background-image: url(../../../assets/boidata12-removebg-preview.png);
          height: 36rem;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          @media only #{$desktop-max-md} {
            width: 100%;
          }
        }
        .child-text-container {
          width: 50%;
          height: 36rem;
          background-color: aquamarine;
          // padding: 3rem;
          // border-radius: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          // gap: 2rem;
          flex-direction: column;
          @media only #{$desktop-max-md} {
            width: 100%;
          }
          .child-text-overlap {
            width: 40rem;
            background-color: rebeccapurple;
            height: 34rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            flex-direction: column;
            border-radius: 2rem;
            .parrent-content {
              font-size: 5rem;
              line-height: 5.3rem;
              font-weight: 1000;
            }
            .child-content {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
    .second-container {
      .cerousel-first {
        position: relative;
        z-index: 1;
        height: auto;
        background-color: black;
      }
    }
  }
}
