@import "../../../assets/scss/base/variables";
.main {
  width: 100%;
  font-family: "Poppins", sans-serif;
  .container1 {
    width: 100%;
    .first-container {
      width: 100%;
      height: auto;
      // background-color: rgba(102, 51, 153, 0.864);
      .nav {
        width: 100%;
        height: 5rem;
        .nav-bar {
          width: 100%;
          height: 5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          position: fixed;
          z-index: 10;
          background-color: white;
          // color: white;
          .nav-container {
            width: 90%;
            height: 5rem;
            position: fixed;
            //   background-color: rgba(127, 255, 212, 0.7);
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left-content {
              display: flex;
              align-items: center;
              // gap: 8rem;
              .logo {
                font-size: 2rem;
                font-weight: 700;
                @media only #{$desktop-max-mob} {
                  font-size: 1.5rem;
                }
              }
            }
            .center-content {
              @media only #{$desktop-max-mob} {
                display: none;
              }
              .lists {
                display: flex;
                gap: 2rem;
              }
            }
            .right-content {
              @media only #{$desktop-max-mob} {
                display: none;
              }
              ::ng-deep {
                button {
                  background-color: black;
                  color: white;
                }
              }
            }
            .responsive-button {
              display: none;
              @media only #{$desktop-max-mob} {
                display: block;
              }
            }
          }
        }
      }
      .main-contentsec {
        // z-index: 3;
        width: 100%;
        height: 710px;
        .main-contentsection {
          width: 100%;
          height: 750px;
          // background-color: rgba(201, 201, 115, 0.863);
          position: relative;
          position: fixed;
          .example-container {
            height: 100%;
            background-color: rgba(20, 19, 19, 0.753);
            .img-hover {
              margin: auto;
              height: 94%;
              width: 90%;
              background-color: white;
              .content-img {
                margin: auto;
                width: 95%;
                height: 92%;
                background-image: url(../../../assets/test-1.jpg);
                border-bottom-right-radius: 1rem;
                border-bottom-left-radius: 1rem;
                background-repeat: no-repeat;
                background-position: top;
                background-size: cover;
              }
            }
            .content-text {
              position: absolute;
              width: 25%;
              height: auto;
              // background-color: rgba(255, 0, 0, 0.778);
              color: white;
              right: 3rem;
              top: 15rem;
              border-radius: 0.3rem;
              font-size: 4rem;
              font-weight: 1000;
              // button
              button {
                padding: 0.8em 1.8em;
                border: 2px solid #17C3B2;
                position: relative;
                left: 3rem;
                bottom: 2rem;
                overflow: hidden;
                background-color: transparent;
                text-align: center;
                text-transform: uppercase;
                font-size: 1.2rem;
                transition: .3s;
                z-index: 1;
                font-family: inherit;
                color: #f0f3f3;
               }
               
               button::before {
                content: '';
                width: 0;
                height: 300%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                background: #000000d7;
                transition: .5s ease;
                display: block;
                z-index: -1;
               }
               
               button:hover::before {
                width: 105%;
               }
               
               button:hover {
                color: #fff;
               }
               
            }
          }

          .example-sidenav-content {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
          }

          .example-sidenav {
            width: 15rem;
            // padding: 20px;
            .center-content {
              .lists {
                display: flex;
                // gap: 2rem;
                flex-direction: column;
                span {
                  padding: 1rem;
                }
              }
            }
          }
        }
      }
      .child-contentsec {
        position: relative;
        height: auto;
        z-index: 1;
        display: flex;
        background-color: white;
        padding: 1rem 0;
        @media only #{$desktop-max-md} {
          flex-direction: column;
        }
        .content-img {
          width: 50%;
          background-image: url(../../../assets/boidata12-removebg-preview.png);
          height: 36rem;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          @media only #{$desktop-max-md} {
            width: 100%;
          }
        }
        .child-text-container {
          width: 50%;
          height: 36rem;
          // background-color: aquamarine;
          // padding: 1rem 2rem;
          // border-radius: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          // gap: 2rem;
          flex-direction: column;
          @media only #{$desktop-max-md} {
            width: 100%;
          }
          .child-text-overlap {
            // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            width: 40rem;
            padding: 1rem;
            background-color: rgba(255, 255, 255, 0.76);
            height: 34rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            flex-direction: column;
            border-radius: 2rem;
            .parrent-content {
              font-size: 4.5rem;
              line-height: 5.3rem;
              font-weight: 1000;
            }
            .child-content {
              font-size: 1.3rem;
            }
          }.child-text-overlap:hover{
            background-color: rgba(0, 174, 255, 0.795);
            color: white;
          }
        }
      }
      .card-description{
        position: relative;
        height: auto;
        z-index: 1;
        .card-description-1{
          width: 100%;
          height: 35rem;
          display: flex;
          justify-content: space-between;
          background-color: rgb(230, 225, 225);
          .descristion-1{
            padding: 1rem;
            display: flex;
            align-items: center;
            width: 60rem;
            height: 100%;
            font-size: 1.6rem;
            font-weight: 200;
            // color: white;
          }
          .card-1{
            width: 30rem;
            height: 100%;
            background-image: url("../../../assets/carousel/card-description-1.jpg");
            background-position: center;
            background-size: cover;
          }
        }

      }
    }
    .second-container {
      .cerousel-first {
        position: relative;
        z-index: 1;
        height: auto;
        background-color: black;
        // color: black;
      }
      .third-container{
        position: relative;
        z-index: 1;
        height: auto;
        width: 100%;
background-color:rgb(230, 225, 225);
        .third-container-header{
          font-size: 3rem;
          // color: white;
          font-weight: 700;
          text-align: center;
        }
        .product{
          padding: 1rem;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 2rem;
          .card{
            position: relative;
            display: inline-block;
            width: 15rem;
            height: 22rem;
            // background-color: none;
            // background-blend-mode: multiply;
            .overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              display: flex;justify-content: center;
              align-items: center;
              background-color: rgba(0, 0, 0, 0.5); /* Change the color and opacity as needed */
              opacity: 0;
              transition: opacity 0.3s ease;
              border-radius: .4rem;
            }
            .img1{
              width: 100%;
              height: 19rem;
              background-position: center;
              background-size: cover;
            }
            #image1{
              background-image: url(../../../assets/carousel/card-1.jpg);
            }
            #image2{
              background-image:  url(../../../assets/carousel/card-2.jpg);
            }
            #image3{
              background-image:  url(../../../assets/carousel/card-3.jpg);
            }
            #image4{
              background-image:  url(../../../assets/carousel/card-4.jpg);
            }
            #image5{
              background-image:  url(../../../assets/carousel/card-5.jpg);
            }

            .descrip1{
padding: .5rem 1rem;
font-size: 1.2rem;
font-weight: 500;
text-align: center;
            }
          }
          // .card:hover{
          //   background-color: rgba(0, 0, 0, 0.815);
          //   color: white;
          //   z-index: 10;
          //   background-blend-mode: multiply;
          // }
          .card:hover .overlay {
            opacity: 1;
          }
        }

      }
      .forth-container{
        position: relative;
        height: auto;
        z-index: 1;
        width: 100%;
        display: flex;
flex-direction: column;
align-items:  center;
gap: 2rem;
padding: 3rem;
background-color: black;
color: white;
.main-condent{
  font-size: 3rem;
  font-weight: 700;
}
p{
  font-size: 1.3rem;
}
//
button {
  width: 15rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  color: black;
  background-color: white;
  padding: 1em 2em;
  border: none;
  border-radius: .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

button span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 5rem;
  width: 5rem;
  background-color: #0c66ed;
  border-radius: 50%;
  transition: .6s ease;
}

button span:nth-child(6) {
  position: relative;
}

button span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

button span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

button span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

button span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

button span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

button:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: .5s ease;
}
// 
      }
      .fifth-container{
        position: relative;
        height: auto;
        z-index: 1;
        width: 100%;
        display: flex;
flex-direction: column;
text-align: center;
gap: 2rem;
padding: 3rem;
background-color: black;
color: white;
.main-condent{
  font-size: 3rem;
  font-weight: 700;
}
p{
  font-size: 1.3rem;
}



// 
      }
      .footer{
        position: relative;
        height: auto;
        z-index: 1;
        width: 100%;
        display: flex;
        background-color: black;
        border-top: .4rem solid white;
        padding: 2rem ;
        justify-content: center;
        .container1{
          width: 90%;
          display: flex;
          justify-content: space-between;
          .footer-left{
            .button-group{
              color: white;
              display: flex;
              gap: 1rem;
              .button{
                width: 2rem;
                height: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border: .1rem solid black;
                border-radius: .3rem;
                background-color: yellow;
                color:black;
              }
            }
          }
          .footer-right{
display: flex;
gap: 4rem;
color: white;
          }
        }
      }
    }
   
  }
}
