<aside class="main" aria-label="">
    <aside class="container1" aria-label="">
        <aside class="first-container">
            <nav class="nav">
                <nav class="nav-bar">
                    <nav class="nav-container">
                        <aside class="left-content">
                            <aside class="logo">ECOM-SHOP</aside>
                        </aside>
                        <aside class="center-content">
                            <aside class="lists">
                                <span>content1</span>
                                <span>content2</span>
                                <span>content3</span>
                            </aside>
                        </aside>
                        <aside class="right-content">
                            <button mat-raised-button [routerLink]="['/login']">Login</button>
                        </aside>
                        <aside class="responsive-button" (click)="drawer.toggle()"><i
                                class="fa-solid fa-bars fa-xl"></i></aside>
                    </nav>
                </nav>
            </nav>
            <aside class="main-contentsec">
                <aside class="main-contentsection">

                    <mat-drawer-container class="example-container" autosize hasBackdrop="true">
                        <mat-drawer #drawer class="example-sidenav" mode="side">
                            <aside class="center-content">
                                <aside class="lists">
                                    <span>content1</span>
                                    <mat-divider></mat-divider>
                                    <span>content2</span>
                                    <mat-divider></mat-divider>
                                    <span>content3</span>
                                    <mat-divider></mat-divider>
                                </aside>
                            </aside>
                            <aside class="right-content">
                                <button mat-raised-button>Login</button>
                            </aside>
                        </mat-drawer>
                        <aside class="img-hover">
                            <aside class="content-img" aria-label=""></aside>
                        </aside>
                        <aside class="content-text">
                            <p>LET'S <br> <mark style="background-color: hidden;">EXPLORE</mark><br> UNIQUE...</p>
                            <button [routerLink]="['/login']">shop now</button>
                        </aside>

                    </mat-drawer-container>

                </aside>
            </aside>
            <aside class="child-contentsec">

                <aside class="content-img" aria-label=""></aside>
                <aside class="child-text-container">
                    <aside class="child-text-overlap">

                        <aside class="parrent-content">
                            DISCOVER OUR NEW COLLOCTION
                        </aside>
                        <aside class="child-content">We allows consumers to directly buy goods or services from a seller
                            over the Internet using a web browser or a mobile app. Consumers find a product of interest
                            by
                            visiting the website of
                            the retailer directly or by searching among alternative vendors using a shopping search
                            engine,
                            which displays the same
                            product's availability and pricing at different e-retailers.
                        </aside>
                    </aside>
                </aside>
            </aside>
<aside class="card-description">
<aside class="card-description-1">
    <aside class="card-1"></aside>
    <aside class="descristion-1">
        Fashion is a term that refers to popular styles or trends in clothing, accessories, footwear, makeup, and hairstyle. It is a form of self-expression and often reflects the cultural, social, and economic influences of a particular time or place.The fashion industry plays a significant role in the global economy and includes various sectors suchas design, manufacturing, retail, marketing, and media. It involves designers, models, stylists, photographers, retailers, consumers who contribute to the creation and consumption of fashion. Establish a strong online presence by creating a visually appealing and user-friendly website or e-commerce platform. Ensure that the website showcases your fashion products effectively and provides a seamless shopping experience for customers.
    </aside>
</aside>
</aside>
        </aside>
        <aside class="second-container">
            <aside class="cerousel-first" aria-label="">
                <!-- <app-carousel></app-carousel> -->
                <aside class="main1">
                    <div class="carousel">
                        <img [src]="currentImage" [class.split]="splitting" (load)="imageLoaded()" />
                        <img [src]="nextImage" [class.split]="splitting" (load)="imageLoaded()" />
                    </div>
                </aside>
                <!-- <app-cards></app-cards> -->
                <section class="main2">
                    <aside class="container1">
                        <aside class="content">
                            <p>browser the Range</p>
                            <p class="small-content">just a few clicks, you can browse and purchase products from the comfort of your
                                own</p>
                        </aside>
                        <aside class="cards">
                
                            <aside class="card" id="card1" data-aos="fade-down-right">
                            </aside>
                            <aside class="card" id="card2" data-aos="flip-up">
                            </aside>
                            <aside class="card" id="card3" data-aos="fade-down-left">
                            </aside>
                        </aside>
                    </aside>
                    <aside class="container2">
                <p class="header">Features Online Shoppers</p>
                <p class="content">Online shoppers need to be offered convenience and instant ease-of-access to your online store, no matter what device they’re using. Your online store should be built on a responsive design template and its features need to be available to all users, at any time, and from anywhere. Older design templates were not structured to be flexible enough for the various screen sizes that are available nowadays so responsive design has taken over and is becoming standard with mobile websites of any merit. This is important your website and its content need to be supported on all devices that access the internet. </p>
                    </aside>
                    <aside class="container3">
                        <aside class="card1">
                            <p class="content-header" style="font-size: 3rem;font-weight: 700;">Fetures</p>
                            <p class="content">Online shoppers need to be offered convenience and instant ease-of-access to your online store, no matter what device they’re using. Your online store should be built on a responsive design template and its features need to be available to all users, at any time, and from anywhere. </p>
                        </aside>
                        <aside class="card2">
                                <div class="carousel">
                                    <img [src]="currentImage" [class.split]="splitting" (load)="imageLoaded()" />
                                    <img [src]="nextImage" [class.split]="splitting" (load)="imageLoaded()" />
                                </div>
                        </aside>
                        
                    </aside>
                </section>
                <!-- <app-simplecards></app-simplecards> -->
                <aside class="third-container">
                    <p class="third-container-header">Our Products</p>
                    <aside class="product">
                        <aside class="card">
            <aside class="img1" id="image1"></aside>
            <aside class="descrip1">Shoes</aside>
            <div class="overlay"> <button mat-stroked-button style="color: white;border-color: white;" [routerLink]="['/login']">Shop Now</button></div>
                        </aside>
                        <aside class="card">
                            <aside class="img1" id="image2"></aside>
                            <aside class="descrip1">Laptop</aside>
                            <div class="overlay"><button mat-stroked-button style="color: white;border-color: white;" [routerLink]="['/login']">Shop Now</button></div>
                                            </aside>
                                            <aside class="card">
                                                <aside class="img1" id="image3"></aside>
                                                <aside class="descrip1">Mobile</aside>
                                                <div class="overlay"><button mat-stroked-button style="color: white;border-color: white;" [routerLink]="['/login']">Shop Now</button></div>
                                                                </aside>
                                                                <aside class="card">
                                                                    <aside class="img1" id="image4"></aside>
                                                                    <aside class="descrip1">Clothes</aside>
                                                                    <div class="overlay"><button mat-stroked-button style="color: white;border-color: white;" [routerLink]="['/login']">Shop Now</button></div>
                                                                                    </aside>
                                                                                    <aside class="card">
                                                                                        <aside class="img1" id="image5"></aside>
                                                                                        <aside class="descrip1">Protien</aside>
                                                                                        <div class="overlay"><button mat-stroked-button style="color: white;border-color: white;" [routerLink]="['/login']">Shop Now</button></div>
                                                                                                        </aside>
                                                                                            
                    </aside>
                    </aside>
            </aside>
            
            <aside class="forth-container">
                <aside class="main-condent">JOIN WITH OUR SHOPPING COMMUNITY</aside>
                <P>If you have already a user or sailer.please login</P>
                <button [routerLink]="['/login']">
                    <span class="circle1"></span>
                    <span class="circle2"></span>
                    <span class="circle3"></span>
                    <span class="circle4"></span>
                    <span class="circle5"></span>
                    <span class="text">login</span>
                </button>
            </aside>
            <aside class="fifth-container">
                <aside class="main-condent">WE PROVIDE SARVICE FOR ALL OVER</aside>
                <!-- <app-map></app-map> -->
                
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30773372.380620293!2d61.02452930232927!3d19.690678745166895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1688902575857!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </aside>
            <!-- footer -->
            <aside class="footer">
                <aside class="container1">
                    <aside class="footer-left">
                        <p style="font-size: 1.4rem;font-weight: 700;color: yellow;">SHOPPING</p>
                        <p style="color: white;">complete your style with awesome fashion from us</p>
                        <aside class="button-group">
                            <aside class="button">
                                <i class="fa-brands fa-instagram"></i>
                            </aside>
                            <aside class="button">
                                <i class="fa-brands fa-facebook-f"></i>
                            </aside>
                            <aside class="button">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </aside>
                            <aside class="button">
                                <i class="fa-brands fa-twitter"></i>
                            </aside>
                        </aside>
                    </aside>
                    <aside class="footer-right">
                        <aside class="footer-right1">
                            <p style="font-weight: bold;">Company</p>
                            <p>About</p>
                            <p>Contact Us</p>
                            <p>Support</p>
                            <p>careers</p>
                        </aside>
                        <aside class="footer-right2">
                            <p style="font-weight: bold;">Quick Link</p>
                            <p>Share Location</p>
                            <p>Orders Tracking</p>
                            <p>Size Guide</p>
                            <p>FAQs</p>
                        </aside>
                        <aside class="footer-right3">
                            <p style="font-weight: bold;">Legal</p>
                            <p>Terms & Condition</p>
                            <p>Privacy Policy</p>
                        </aside>
                    </aside>
                </aside>
            </aside>
        </aside>
        
        

    </aside>

</aside>