<aside class="main" aria-label="">
    <aside class="container1" aria-label="">
        <aside class="first-container">
            <nav class="nav">
                <nav class="nav-bar">
                    <nav class="nav-container">
                        <aside class="left-content">
                            <aside class="logo">ECOM.WEB</aside>
                            <aside class="lists">
                                <span>content1</span>
                                <span>content2</span>
                                <span>content3</span>
                            </aside>
                        </aside>
                        <aside class="right-content">
                            <button mat-raised-button>Login</button>
                        </aside>
                    </nav>
                </nav>
            </nav>
        </aside>
    </aside>
</aside>