<section class="main">
    <!-- navbar -->
    <nav class="navbar">
        <nav class="nav-container">
            <aside class=" center-content">
                <aside class="left-content">
                    <aside class="nav-text">E-com</aside>
                    <aside class="search">
                        <div class="input-container">
                            <span class="material-icons-outlined icon">search</span>
                            <input class="input-field" type="text" placeholder="Search" [(ngModel)]="searchitem" (keyup)="search()">
                            <!-- (keyup)="search()"   [(ngModel)]="searchTerm" -->
                        </div>
                    </aside>
                </aside>
                <aside class="right-content">
                    <a href="" class="seller">Become a Seller</a>
                    <a href="" class="more">More<span class="material-icons-outlined">
                            expand_more
                        </span></a>
                    <button mat-button [matMenuTriggerFor]="menu" style="color: white;">Menu</button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [routerLink]="['/shopping/order']">Order histary</button>
                        <button mat-menu-item>Item 2</button>
                    </mat-menu>
                    <aside [routerLink]="['/shopping/cart-page']" class="cart" style="color:white"><span
                            class="material-icons-outlined">
                            shopping_cart
                        </span>Cart</aside>
                </aside>
                <!-- responsive button -->
                <aside class="responsive-buttom" style="position: absolute;right: 1rem;">
                    <i class="fa-solid fa-bars fa-2xl" [matMenuTriggerFor]="menu1"></i>
                </aside>
                <mat-menu #menu1="matMenu">
                    <button mat-menu-item>become a seller</button>
                    <button mat-menu-item>
                        <i class="fa-solid fa-caret-down" style="letter-spacing: 1rem;"></i>
                        <span>More</span></button>
                    <button mat-menu-item [matMenuTriggerFor]="menu2">
                        <i class="fa-sharp fa-solid fa-compass" style="letter-spacing: 1rem;"></i>
                        <span>Menu</span></button>
                    <mat-menu #menu2="matMenu">
                        <button mat-menu-item [routerLink]="['/shopping/order']">Order History</button>
                        <button mat-menu-item>Mammals</button>
                    </mat-menu>
                    <button mat-menu-item>
                        <i class="fa-solid fa-cart-shopping" style="letter-spacing: 1rem;"></i>
                        <span [routerLink]="['/shopping/cart-page']">Cart</span>
                    </button>
                </mat-menu>
                <!--  -->
            </aside>

        </nav>
    </nav>
    <!-- search -->
    <aside class="search-responsive-block">
        <aside class="search">
            <div class="input-container">
                <span class="material-icons-outlined icon">search</span>
                <input class="input-field" type="text" placeholder="Search">
                <!-- (keyup)="search()"   [(ngModel)]="searchTerm" -->
            </div>
        </aside>
    </aside>
    <!--  -->
    <!-- down-nav-cards -->


    <section class="down-nav">
        <aside class="down-nav-container">
            <aside class="card " (click)="Grosery()">
                <mat-card class="example-card">

                    <img mat-card-image src="../../../assets/grosery.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="card-text">
                            Grosery
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
            <aside class="card" (click)="Home()">
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/home.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            Home
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
            <aside class="card" (click)="Appliance()">
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/acceseries.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            Appliance
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
            <aside class="card" (click)="Fasion()">
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/fashion.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            Fasion
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
            <aside class="card" (click)="Laptop()">
                <mat-card class="example-card">
                    <br>
                    <img mat-card-image src="../../../assets/lap.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            Laptop
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
            <aside class="card" (click)="Protien()">
                <mat-card class="example-card">
                    <br>
                    <img mat-card-image src="../../../assets/protien.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>

                        <p>
                            Protien
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
            <aside class="card" (click)="Mobile()">
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/mobiles.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            Mobiles
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
            <aside class="card" (click)="Toys()">
                <mat-card class="example-card">
                    <br>
                    <img mat-card-image src="../../../assets/toy.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>

                        <p>
                            toys
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>


        </aside>
    </section>
    <!--slider  -->
    <aside class="card2">
        <div class="carousel">
            <img [src]="currentImage" [class.split]="splitting" (load)="imageLoaded()" />
            <img [src]="nextImage" [class.split]="splitting" (load)="imageLoaded()" />
        </div>
</aside>

    <!-- products -->
    <!-- frist row -->
    <section class="product-container">
        <aside class="first-div" aria-label="">
            <mat-card class="product-card" *ngFor="let item of firstRowProducts,let i= index"
                (click)="Detailpage(item)">
                <aside class="img-sec">
                    <img src="{{item.image}}" alt="">
                </aside>
                <mat-card-title class="text-sec">
                    <span>{{item.base}}</span><br>
                    <span>{{item.price}}</span>

                    <p style="color: rgb(8, 168, 8);">Shop Now!</p>
                </mat-card-title>
            </mat-card>
        </aside>
    </section>
    <!-- second row -->
    <section class="product-container">
        <aside class="first-div" aria-label="">
            <mat-card class="product-card" *ngFor="let item of secondRowProducts" (click)="Detailpage(item)">
                <aside class="img-sec">
                    <img src="{{item.image}}" alt="">
                </aside>
                <mat-card-title class="text-sec">
                    <span>{{item.base}}</span><br>
                    <span>{{item.price}}</span>

                    <p style="color: rgb(8, 168, 8);">Shop Now!</p>
                </mat-card-title>
            </mat-card>
        </aside>
    </section>
    <!-- third row -->
    <section class="product-container">
        <aside class="first-div" aria-label="">
            <mat-card class="product-card" *ngFor="let item of thirdRowProducts" (click)="Detailpage(item)">
                <aside class="img-sec">
                    <img src="{{item.image}}" alt="">
                </aside>
                <mat-card-title class="text-sec">
                    <span>{{item.base}}</span><br>
                    <span>{{item.price}}</span>

                    <p style="color: rgb(8, 168, 8);">Shop Now!</p>
                </mat-card-title>
            </mat-card>
        </aside>
    </section>
    <!-- forth row -->
    <section class="product-container">
        <aside class="first-div" aria-label="">
            <mat-card class="product-card" *ngFor="let item of forthRowProducts" (click)="Detailpage(item)">
                <aside class="img-sec">
                    <img src="{{item.image}}" alt="">
                </aside>
                <mat-card-title class="text-sec">
                    <span>{{item.base}}</span><br>
                    <span>{{item.price}}</span>

                    <p style="color: rgb(8, 168, 8);">Shop Now!</p>
                </mat-card-title>
            </mat-card>
        </aside>
    </section>
    <!-- fifth row -->
    <section class="product-container">
        <aside class="first-div" aria-label="">
            <mat-card class="product-card" *ngFor="let item of fifthRowProducts" (click)="Detailpage(item)">
                <aside class="img-sec">
                    <img src="{{item.image}}" alt="">
                </aside>
                <mat-card-title class="text-sec">
                    <span>{{item.base}}</span><br>
                    <span>{{item.price}}</span>

                    <p style="color: rgb(8, 168, 8);">Shop Now!</p>
                </mat-card-title>
            </mat-card>
        </aside>
    </section>
    <!-- sixth row -->
    <section class="product-container">
        <aside class="first-div" aria-label="">
            <mat-card class="product-card" *ngFor="let item of sixthRowProducts" (click)="Detailpage(item)">
                <aside class="img-sec">
                    <img src="{{item.image}}" alt="">
                </aside>
                <mat-card-title class="text-sec">
                    <span>{{item.base}}</span><br>
                    <span>{{item.price}}</span>

                    <p style="color: rgb(8, 168, 8);">Shop Now!</p>
                </mat-card-title>
            </mat-card>
        </aside>
    </section>
    <!-- seventh row -->
    <section class="product-container">
        <aside class="first-div" aria-label="">
            <mat-card class="product-card" *ngFor="let item of seventhRowProducts" (click)="Detailpage(item)">
                <aside class="img-sec">
                    <img src="{{item.image}}" alt="">
                </aside>
                <mat-card-title class="text-sec">
                    <span>{{item.base}}</span><br>
                    <span>{{item.price}}</span>

                    <p style="color: rgb(8, 168, 8);">Shop Now!</p>
                </mat-card-title>
            </mat-card>
        </aside>
    </section>
</section>