<section class="main">
    <!-- navbar -->
    <nav class="navbar">
        <nav class="nav-container">
            <aside class="center-content">
                <aside class="left-content">
                    <aside class="nav-text">E-com</aside>
                    <aside class="search">
                        <div class="input-container">
                            <span class="material-icons-outlined icon">search</span>
                            <input class="input-field" type="text" placeholder="Search">
                            <!-- (keyup)="search()"   [(ngModel)]="searchTerm"-->
                        </div>
                    </aside>
                </aside>
                <aside class="right-content">
                    <a href="" class="seller">Become a Seller</a>
                    <a href="" class="more">More<span class="material-icons-outlined">
                            expand_more
                        </span></a>
                    <a href="" class="cart"><span class="material-icons-outlined">
                            shopping_cart
                        </span>Cart</a>
                </aside>
            </aside>

        </nav>
    </nav>
    <!-- down-nav-cards -->
    <section class="down-nav">
        <aside class="down-nav-container">
            <aside class="card">
                <mat-card class="example-card">

                    <img mat-card-image src="../../../assets/grosery.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            Grosery
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
            <aside class="card">
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/home.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            Home
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
            <aside class="card">
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/acceseries.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            Appliance
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
            <aside class="card">
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/fashion.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            Fasion
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
            <aside class="card">
                <mat-card class="example-card">
                    <br>
                    <img mat-card-image src="../../../assets/lap.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            Laptop
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
            <aside class="card">
                <mat-card class="example-card">
                    <br>
                    <img mat-card-image src="../../../assets/protien.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>

                        <p>
                            Protien
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
            <aside class="card">
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/mobiles.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            Mobiles
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
            <aside class="card">
                <mat-card class="example-card">
                    <br>
                    <img mat-card-image src="../../../assets/toy.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>

                        <p>
                            toys
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
        </aside>
    </section>
    <!--slider  -->
    <section class="slider-sec1">
        <mat-stepper headerPosition="bottom" position="center" class="slider-sec">
            <mat-step>
                <img src="../../../assets/stepper-1.png" alt="">
            </mat-step>
            <mat-step>
                <img src="../../../assets/stepper-2.png" alt="">
            </mat-step>
            <mat-step>
                <img src="../../../assets/stepper-3.png" alt="">

            </mat-step>
            <mat-step>
                <img src="../../../assets/stepper-4.png" alt="">

            </mat-step>
        </mat-stepper>
    </section>


</section>