.main {
  .navbar {
    height: 3.6rem;
    .nav-container {
      z-index: 100;
      //   padding: 1.3rem;
      position: fixed;
      width: 100%;
      background-color: rgba(18, 109, 184, 0.867);
      .center-content {
        margin: 0 auto;
        width: 80rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 0.6rem;
        .left-content {
          display: flex;
          gap: 2rem;
          align-items: center;
          .nav-text {
            color: white;
            font-size: 1.7rem;
            font-weight: 600;
          }
          .search {
            box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
            .input-container {
              display: -ms-flexbox;
              display: flex;
              width: 25rem;
              border: 1px ridge #e7eaf4;
              border-radius: 3px;
              position: relative;
              border: 1px solid #e7eaf4;
              background-color: #ffffff;
            }

            .icon {
              padding: 13px 0px;
              min-width: 19.3rem;
              text-align: center;
            }

            .material-icons-outlined {
              color: #a7a7a7;
              position: relative;
              right: 7.8rem;
              transform: rotate(0deg);
              transition: 0.2s;
              font-size: 1.1rem;
            }

            .input-container:hover .material-icons-outlined {
              transition: 0.2s;
              transform: rotatey(180deg);
              -webkit-transform: rotatey(180deg);
              -ms-transform: rotatey(180deg);
            }

            .input-field {
              width: 20rem;
              padding: 10px;
              outline: none;
              border: none;
              background: transparent;
              position: relative;
              right: 17rem;
            }
            ::placeholder {
              color: #a7a7a7;
              font-size: 0.8rem;
            }
          }
        }
        .right-content {
          display: flex;
          gap: 3rem;
          align-items: center;
          a {
            text-decoration: none;
            color: white;
          }
          .seller {
          }
          .more {
            display: flex;
            align-items: center;
          }
          .cart {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
  .down-nav {
    width: 100%;
    // background-color: red;
    border-bottom: 1px solid grey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    .down-nav-container {
      margin: 0 auto;
      width: 85rem;
      // background-color: rebeccapurple;
      display: flex;
      justify-content: space-between;
      align-items: center;
      //   gap: 4rem;
      padding: 1rem;
      height: 8rem;
      .card {
        width: 5.4rem;
        // height: 7rem;
        // background-color: red;

        .example-card {
          height: 6.2rem;
          // background-color: green;

          mat-card-content {
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            font-family: "Poppins", sans-serif;
            font-size: 0.8rem;
          }
        }
      }
      .card:hover {
        -webkit-animation: flip-vertical-right 0.4s
          cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
        animation: flip-vertical-right 0.4s
          cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
        /* ----------------------------------------------
 * Generated by Animista on 2023-6-6 21:7:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

        /**
 * ----------------------------------------
 * animation flip-vertical-right
 * ----------------------------------------
 */
        @-webkit-keyframes flip-vertical-right {
          0% {
            -webkit-transform: rotateY(0);
            transform: rotateY(0);
          }
          100% {
            -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
          }
        }
        @keyframes flip-vertical-right {
          0% {
            -webkit-transform: rotateY(0);
            transform: rotateY(0);
          }
          100% {
            -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
          }
        }
      }
    }
  }
  .slider {
    width: 100%;
    height: 29rem;
    background-color: rgba(202, 204, 207, 0.37);
    padding: 0.5rem 0;
    .slider-sec {
      width: 99%;
      // height: 30rem;
      margin: 0 auto;
      // background-color: red;
      // border-radius: 0.9rem;
      .carousel {
        .carousel-control-prev-icon {
          width: 5rem;
          height: 5rem;
        }
        .carousel-control-next-icon {
          width: 5rem;
          height: 5rem;
        }
        // height: 30rem;
        .carousel-inner {
          height: 28rem;
          .carousel-item {
            img {
              height: 28rem;
              width: 100%;
              border-radius: 0.5rem;
              // object-fit: contain;
            }
          }
        }
      }
    }
  }
  .product-container {
    // border: 4px solid rgba(128, 128, 128, 0.399);
    padding: 0rem 0.8rem;
    background-color: rgba(202, 204, 207, 0.37);
    // padding: 0.3rem;
    color: grey;

    .first-div {
      background-color: white;
      display: flex;
      height: 22rem;
      overflow-x: scroll;
      gap: 3rem;
      padding: 0.6rem 0;
      // border: 4px solid red;

      .product-card {
        // border: 1px solid red;
        // width: 20rem;
        // border: none;
        box-shadow: none;
        padding: 0.5rem 1rem;
        display: flex;
        gap: 1.6rem;
        line-height: 1.6rem;

        img {
          width: 10rem;
          height: 11rem;
        }
        // #first-row {
        //   width: 13rem;
        //   height: 11rem;
        // }
        .text-sec {
          text-align: center;
        }
        // overflow-x: scroll;
      }
      .product-card:hover {
        // border: 1px solid red;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        img {
          height: 11.5rem;
          width: 11rem;
          transition: 2s;
        }
      }
    }
    ::-webkit-scrollbar {
      height: 5px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
      background: rgb(248, 246, 246);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: rgba(213, 211, 210, 0.562);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #e87373;
    }
  }
}
