<section class="main">
    <nav class="navbar">
        <nav class="nav-container">
            <aside class="center-content">
                <aside class="left-content">
                    <aside class="nav-text">E-com</aside>
                    <aside class="search">
                        <div class="input-container">
                            <span class="material-icons-outlined icon">search</span>
                            <input class="input-field" type="text" placeholder="Search">
                            <!-- (keyup)="search()"   [(ngModel)]="searchTerm"-->
                        </div>
                    </aside>
                </aside>
                <aside class="right-content">
                    <a href="" class="seller">Become a Seller</a>
                    <a href="" class="more">More<span class="material-icons-outlined">
                            expand_more
                        </span></a>
                    <a href="" class="cart"><span class="material-icons-outlined">
                            shopping_cart
                        </span>Cart</a>
                </aside>
            </aside>

        </nav>
    </nav>
    <section class="down-nav">
        <aside class="down-nav-container">
            <aside class="card">
                <mat-card class="example-card">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
            <aside class="card">
                <mat-card class="example-card">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
            <aside class="card">
                <mat-card class="example-card">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
            <aside class="card">
                <mat-card class="example-card">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
            <aside class="card">
                <mat-card class="example-card">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
            <aside class="card">
                <mat-card class="example-card">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
            <aside class="card">
                <mat-card class="example-card">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
            <aside class="card">
                <mat-card class="example-card">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba
                        </p>
                    </mat-card-content>
                </mat-card>
            </aside>
        </aside>
    </section>
</section>