<section class="main">
    <aside class="container">
        <section class="child-sec">
            <aside class="verification-map">
                <mat-stepper>
                    <mat-step label="Order">
                    </mat-step>
                    <mat-step label="Shipping">
                    </mat-step>
                    <mat-step label="Delivary">
                    </mat-step>

                    <!-- Icon overrides. -->
                    <!-- <ng-template matStepperIcon="phone">
                        <i class="fa-brands fa-first-order-alt"></i>
                    </ng-template>
                    <ng-template matStepperIcon="chat">
                        <i class="fa-solid fa-truck-clock"></i>
                    </ng-template> -->
                </mat-stepper>
            </aside>
            <aside *ngIf=address class="address-detail">
                <aside>ADDRESS:</aside>
                <aside style="margin-top: 1rem;">{{address.username}}</aside>
                <!-- <mat-divider></mat-divider> -->
                <aside>{{address.number}}</aside>
                <!-- <mat-divider></mat-divider> -->
                <aside>{{address.email}}</aside>
                <!-- <mat-divider></mat-divider> -->
                <aside>{{address.address}},{{address.pincode}}</aside>
            </aside>
            <aside class="product">
                <aside class="left-side">
                    <img src="{{product.image}}" alt="">
                </aside>
                <aside class="right-side">
                    <span>{{product.bace}}</span>
                    <span>{{product.title}}</span>
                    <span style="font-size: 1.2rem;">{{product.category}}</span>
                    <span><i class="fa-solid fa-indian-rupee-sign" style="color: green;"></i>{{product.price}}</span>

                </aside>

            </aside>
            <aside class="group">
                <aside class="price-detail">
                    <aside>
                        <span>Price:</span><span>{{product.price}}</span>
                    </aside>
                    <aside style="display: flex;justify-content: space-between;">
                        <span>Realprice:</span><span>{{product.realprice}}</span>
                    </aside>
                    <aside style="display: flex;justify-content: space-between;">
                        <span>Descount:</span><span>{{product.realprice - product.price}}</span>
                    </aside>
                    <aside style="display: flex;justify-content: space-between;">
                        <span>Shipping:</span><span>40</span>
                    </aside>
                    <mat-divider></mat-divider>
                    <aside style="display: flex;justify-content: space-between;">
                        <span>Total:</span><span>{{product.price + 40}}</span>
                    </aside>
                </aside>

                <div class="peyment">
                    <div class="container1">
                        <form>
                            <label>
                                <input type="radio" name="same" [(ngModel)]="selectedValue" value="googlepay" checked>
                                <span>Gpay</span>
                            </label>
                            <label>
                                <input type="radio" name="same" [(ngModel)]="selectedValue" value="paytm">
                                <span>Paytm</span>
                            </label>
                            <label>
                                <input type="radio" name="same" [(ngModel)]="selectedValue" value="phonepay">
                                <span>Ppay</span>
                            </label>
                            <label>
                                <input type="radio" name="same" [(ngModel)]="selectedValue" value="cashondelivery">
                                <span>Cashon Delivary</span>
                            </label>
                        </form>
                    </div>
                </div>
            </aside>
            <aside class="button">
                <button mat-raised-button color="primary" (click)="Submit()">Submit</button>
            </aside>

        </section>
    </aside>
</section>