<section class="main">
    <section class="container">
        <aside class="card">
            <form class="simple-card" *ngFor="let item of value1">
                <img src="{{item.image}}" alt="">
                <aside class="right-side">
                    <aside>{{item.bace}}</aside>
                    <!-- <aside>{{item.title}}</aside> -->
                </aside>
                <aside class="icon" style="text-align: center;color: green;">
                    <i class="fa-solid fa-circle-check fa-flip fa-2xl"></i>
                    <aside> order seccessfully</aside>
                </aside>
            </form>
        </aside>
    </section>
</section>