<section class="main">
    <aside class="container">
        <aside class="content">
            <p>browser the Range</p>
            <p class="small-content">just a few clicks, you can browse and purchase products from the comfort of your
                own</p>
        </aside>
        <aside class="cards">

            <aside class="card" id="card1">
            </aside>
            <aside class="card" id="card2">
            </aside>
            <aside class="card" id="card3">
            </aside>
        </aside>
    </aside>
</section>