<aside class="main">
    <aside class="container">
        <mat-card class="product-card" *ngFor="let item of data,let i= index">
            <aside class="img-sec">
                <img src="{{item.image}}" alt="">
            </aside>
            <mat-card-title class="text-sec">
                <span>{{item.base}}</span><br>
                <span>{{item.price}}</span>

                <p style="color: rgb(8, 168, 8);">Shop Now!</p>
            </mat-card-title>
        </mat-card>
    </aside>
</aside>